ul{
    padding: 0px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    overflow: hidden;
}
ul li{
    list-style-type: none;
    padding: 8px;
    margin: 0px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
ul li:last-child{
    border-bottom: 0px solid #ccc;
}
ul li:hover{
    background-color: #ccc;
}
ul li strong{
    background-color: gold;
}